location: East US
name: silver-finance-job
type: Microsoft.App/jobs
identity:
  type: SystemAssigned
properties:
  configuration:
    triggerType: Schedule
    scheduleTriggerConfig:
      cronExpression: "30 0 * * *"
      parallelism: 1
      replicaCompletionCount: 1
    registries:
    - identity: ''
      passwordSecretRef: assetallocationacrazurecrio-assetallocationacr
      server: assetallocationacr.azurecr.io
      username: assetallocationacr
    replicaRetryLimit: 2
    replicaTimeout: 1800
    secrets:
    - name: assetallocationacrazurecrio-assetallocationacr
    - name: azure-storage-connection-string
  environmentId: /subscriptions/eabd0bb1-8f36-4f27-ad86-8b33e02aaeb9/resourceGroups/AssetAllocationRG/providers/Microsoft.App/managedEnvironments/asset-allocation-env
  template:
    containers:
    - env:
      - name: AZURE_STORAGE_ACCOUNT_NAME
        value: assetallocstorage001
      - name: AZURE_STORAGE_CONNECTION_STRING
        secretRef: azure-storage-connection-string
      - name: AZURE_CONTAINER_BRONZE
        value: bronze
      - name: AZURE_CONTAINER_SILVER
        value: silver
      - name: AZURE_CONTAINER_COMMON
        value: common
      image: assetallocationacr.azurecr.io/asset-allocation-scraper:latest
      imageType: ContainerImage
      name: silver-finance-job
      command: ["python", "-m", "scripts.finance_data.silver_finance_data"]
      resources:
        cpu: 1.0
        memory: 2Gi
  workloadProfileName: Consumption
