location: East US
name: bronze-price-target-job
type: Microsoft.App/jobs
identity:
  type: UserAssigned
  userAssignedIdentities:
    "${ACR_PULL_IDENTITY_RESOURCE_ID}": {}
properties:
  configuration:
    triggerType: Schedule
    scheduleTriggerConfig:
      cronExpression: "0 12 * * *"
      parallelism: 1
      replicaCompletionCount: 1
    replicaRetryLimit: 2
    replicaTimeout: 1800
    registries:
    - server: assetallocationacr.azurecr.io
      identity: "${ACR_PULL_IDENTITY_RESOURCE_ID}"
    secrets:
    - name: nasdaq-api-key
      value: ${NASDAQ_API_KEY}
    - name: azure-storage-connection-string
      value: ${AZURE_STORAGE_CONNECTION_STRING}
    - name: pg-dsn
      value: ${POSTGRES_DSN}
  environmentId: ${CONTAINER_APPS_ENVIRONMENT_ID}
  template:
    serviceAccountName: ${SERVICE_ACCOUNT_NAME}
    containers:
    - env:
      - name: AZURE_FOLDER_MARKET
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_FOLDER_FINANCE
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_FOLDER_EARNINGS
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_FOLDER_RANKING
        value: ${AZURE_FOLDER_RANKING}
      - name: AZURE_CONTAINER_SILVER
        value: ${AZURE_CONTAINER_SILVER}
      - name: LOG_FORMAT
        value: JSON
      - name: LOG_LEVEL
        value: INFO
      - name: DISABLE_DOTENV
        value: "true"
      - name: AZURE_CONTAINER_GOLD
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_STORAGE_ACCOUNT_NAME
        value: assetallocstorage001
      - name: AZURE_STORAGE_CONNECTION_STRING
        secretRef: azure-storage-connection-string
      - name: AZURE_FOLDER_TARGETS
        value: ${AZURE_FOLDER_TARGETS}
      - name: NASDAQ_API_KEY
        secretRef: nasdaq-api-key
      - name: AZURE_CONTAINER_COMMON
        value: ${AZURE_CONTAINER_COMMON}
      - name: AZURE_CONTAINER_BRONZE
        value: ${AZURE_CONTAINER_BRONZE}
      - name: POSTGRES_DSN
        secretRef: pg-dsn
      image: ${JOB_IMAGE}
      imageType: ContainerImage
      name: bronze-price-target-job
      command: ["python", "-m", "tasks.price_target_data.bronze_price_target_data"]
      resources:
        cpu: 1.0
        memory: 2Gi
  workloadProfileName: Consumption
