location: East US
name: gold-earnings-job
type: Microsoft.App/jobs
properties:
  configuration:
    triggerType: Schedule
    scheduleTriggerConfig:
      cronExpression: "30 23 * * *"
      parallelism: 1
      replicaCompletionCount: 1
    replicaRetryLimit: 2
    replicaTimeout: 7200
    secrets:
    - name: yahoo-username
      value: ${YAHOO_USERNAME}
    - name: yahoo-password
      value: ${YAHOO_PASSWORD}
    - name: az-cs
      value: ${AZURE_STORAGE_CONNECTION_STRING}
  environmentId: ${CONTAINER_APPS_ENVIRONMENT_ID}
  template:
    serviceAccountName: ${SERVICE_ACCOUNT_NAME}
    containers:
    - env:
      - name: AZURE_FOLDER_MARKET
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_FOLDER_FINANCE
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_FOLDER_EARNINGS
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_FOLDER_TARGETS
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_FOLDER_RANKING
        value: ${AZURE_FOLDER_RANKING}
      - name: AZURE_CONTAINER_BRONZE
        value: ${AZURE_CONTAINER_BRONZE}
      - name: LOG_FORMAT
        value: JSON
      - name: LOG_LEVEL
        value: INFO
      - name: DISABLE_DOTENV
        value: "true"
      - name: AZURE_STORAGE_ACCOUNT_NAME
        value: assetallocstorage001
      - name: AZURE_STORAGE_CONNECTION_STRING
        secretRef: az-cs
      - name: AZURE_CONTAINER_SILVER
        value: ${AZURE_CONTAINER_SILVER}
      - name: AZURE_CONTAINER_GOLD
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_CONTAINER_COMMON
        value: ${AZURE_CONTAINER_COMMON}
      - name: YAHOO_USERNAME
        secretRef: yahoo-username
      - name: YAHOO_PASSWORD
        secretRef: yahoo-password
      - name: HEADLESS_MODE
        value: 'True'
      image: ${JOB_IMAGE}
      imageType: ContainerImage
      name: gold-earnings-job
      command: ["python", "-m", "tasks.earnings_data.gold_earnings_data"]
      resources:
        cpu: 2.0
        memory: 4Gi
  workloadProfileName: Consumption
