location: East US
name: bronze-finance-job
type: Microsoft.App/jobs
identity:
  type: SystemAssigned
properties:
  configuration:
    triggerType: Schedule
    scheduleTriggerConfig:
      cronExpression: "0 22 * * *"
      parallelism: 1
      replicaCompletionCount: 1
    registries:
    - identity: ''
      passwordSecretRef: assetallocationacrazurecrio-assetallocationacr
      server: assetallocationacr.azurecr.io
      username: assetallocationacr
    replicaRetryLimit: 2
    replicaTimeout: 1800
    secrets:
    - name: assetallocationacrazurecrio-assetallocationacr
      value: ${ACR_PASSWORD}
    - name: nasdaq-api-key
      value: ${NASDAQ_API_KEY}
    - name: yahoo-username
      value: ${YAHOO_USERNAME}
    - name: yahoo-password
      value: ${YAHOO_PASSWORD}
    - name: az-cs
      value: ${AZURE_STORAGE_CONNECTION_STRING}
  environmentId: /subscriptions/eabd0bb1-8f36-4f27-ad86-8b33e02aaeb9/resourceGroups/AssetAllocationRG/providers/Microsoft.App/managedEnvironments/asset-allocation-env
  template:
    containers:
    - env:
      - name: AZURE_CONTAINER_MARKET
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_CONTAINER_EARNINGS
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_CONTAINER_TARGETS
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_CONTAINER_RANKING
        value: ${AZURE_CONTAINER_RANKING}
      - name: AZURE_CONTAINER_SILVER
        value: ${AZURE_CONTAINER_SILVER}
      - name: LOG_FORMAT
        value: JSON
      - name: AZURE_STORAGE_ACCOUNT_NAME
        value: assetallocstorage001
      - name: AZURE_STORAGE_CONNECTION_STRING
        secretRef: az-cs
      - name: AZURE_CONTAINER_FINANCE
        value: ${AZURE_CONTAINER_FINANCE}
      - name: AZURE_CONTAINER_COMMON
        value: ${AZURE_CONTAINER_COMMON}
      - name: AZURE_CONTAINER_BRONZE
        value: ${AZURE_CONTAINER_BRONZE}
      - name: NASDAQ_API_KEY
        secretRef: nasdaq-api-key
      - name: YAHOO_USERNAME
        secretRef: yahoo-username
      - name: YAHOO_PASSWORD
        secretRef: yahoo-password
      - name: HEADLESS_MODE
        value: 'True'
      - name: DOWNLOADS_PATH
        value: "/tmp/downloads"
      - name: PLAYWRIGHT_USER_DATA_DIR
        value: "/tmp/playwright_userdata"
      image: assetallocationacr.azurecr.io/asset-allocation-scraper:latest
      imageType: ContainerImage
      name: bronze-finance-job
      command: ["python", "-m", "scripts.finance_data.bronze_finance_data"]
      resources:
        cpu: 1.0
        memory: 2Gi
  workloadProfileName: Consumption
