location: East US
name: silver-market-job
type: Microsoft.App/jobs
identity:
  type: SystemAssigned
properties:
  configuration:
    triggerType: Schedule
    scheduleTriggerConfig:
      cronExpression: "30 14-23 * * *"
      parallelism: 1
      replicaCompletionCount: 1
    registries:
    - identity: ''
      passwordSecretRef: assetallocationacrazurecrio-assetallocationacr
      server: assetallocationacr.azurecr.io
      username: assetallocationacr
    replicaRetryLimit: 2
    replicaTimeout: 7200
    secrets:
    - name: assetallocationacrazurecrio-assetallocationacr
      value: ${ACR_PASSWORD}
    - name: az-cs
      value: ${AZURE_STORAGE_CONNECTION_STRING}
  environmentId: /subscriptions/eabd0bb1-8f36-4f27-ad86-8b33e02aaeb9/resourceGroups/AssetAllocationRG/providers/Microsoft.App/managedEnvironments/asset-allocation-env
  template:
    containers:
    - env:
      - name: AZURE_CONTAINER_FINANCE
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_CONTAINER_EARNINGS
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_CONTAINER_TARGETS
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_CONTAINER_RANKING
        value: ${AZURE_CONTAINER_RANKING}
      - name: MATERIALIZE_BY_DATE_RUN_AT_UTC_HOUR
        value: "23"
      - name: LOG_FORMAT
        value: JSON
      - name: LOG_LEVEL
        value: INFO
      - name: DISABLE_DOTENV
        value: "true"
      - name: HEADLESS_MODE
        value: "true"
      - name: AZURE_STORAGE_ACCOUNT_NAME
        value: assetallocstorage001
      - name: AZURE_STORAGE_CONNECTION_STRING
        secretRef: az-cs
      - name: AZURE_CONTAINER_BRONZE
        value: ${AZURE_CONTAINER_BRONZE}
      - name: AZURE_CONTAINER_SILVER
        value: ${AZURE_CONTAINER_SILVER}
      - name: AZURE_CONTAINER_GOLD
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_CONTAINER_MARKET
        value: ${AZURE_CONTAINER_MARKET}
      - name: AZURE_CONTAINER_COMMON
        value: ${AZURE_CONTAINER_COMMON}
      image: assetallocationacr.azurecr.io/asset-allocation-scraper:latest
      imageType: ContainerImage
      name: silver-market-job
      command: ["python", "-m", "scripts.market_data.silver_market_data"]
      resources:
        cpu: 2.0
        memory: 4Gi
  workloadProfileName: Consumption
