location: East US
name: reconcile-finance-coverage-job
type: Microsoft.App/jobs
identity:
  type: UserAssigned
  userAssignedIdentities:
    "${ACR_PULL_IDENTITY_RESOURCE_ID}": {}
properties:
  configuration:
    triggerType: Schedule
    scheduleTriggerConfig:
      cronExpression: "30 18 * * 1-5"
      parallelism: 1
      replicaCompletionCount: 1
    replicaRetryLimit: 1
    replicaTimeout: 3600
    registries:
    - server: assetallocationacr.azurecr.io
      identity: "${ACR_PULL_IDENTITY_RESOURCE_ID}"
    secrets:
    - name: azure-storage-connection-string
      value: ${AZURE_STORAGE_CONNECTION_STRING}
  environmentId: ${CONTAINER_APPS_ENVIRONMENT_ID}
  template:
    serviceAccountName: ${SERVICE_ACCOUNT_NAME}
    containers:
    - env:
      - name: LOG_FORMAT
        value: JSON
      - name: LOG_LEVEL
        value: INFO
      - name: DISABLE_DOTENV
        value: "true"
      - name: AZURE_CLIENT_ID
        value: ${ACR_PULL_IDENTITY_CLIENT_ID}
      - name: AZURE_STORAGE_ACCOUNT_NAME
        value: assetallocstorage001
      - name: AZURE_STORAGE_CONNECTION_STRING
        secretRef: azure-storage-connection-string
      - name: AZURE_CONTAINER_COMMON
        value: ${AZURE_CONTAINER_COMMON}
      - name: AZURE_CONTAINER_BRONZE
        value: ${AZURE_CONTAINER_BRONZE}
      - name: AZURE_CONTAINER_SILVER
        value: ${AZURE_CONTAINER_SILVER}
      image: ${JOB_IMAGE}
      imageType: ContainerImage
      name: reconcile-finance-coverage-job
      command: ["python", "-m", "tasks.finance_data.reconcile_finance_coverage"]
      resources:
        cpu: 0.5
        memory: 1Gi
  workloadProfileName: Consumption
