location: East US
name: bronze-earnings-job
type: Microsoft.App/jobs
identity:
  type: UserAssigned
  userAssignedIdentities:
    "${ACR_PULL_IDENTITY_RESOURCE_ID}": {}
properties:
  configuration:
    triggerType: Schedule
    scheduleTriggerConfig:
      cronExpression: "0 23 * * *"
      parallelism: 1
      replicaCompletionCount: 1
    replicaRetryLimit: 2
    replicaTimeout: 1800
    registries:
    - server: assetallocationacr.azurecr.io
      identity: "${ACR_PULL_IDENTITY_RESOURCE_ID}"
    secrets:
    - name: yahoo-username
      value: ${YAHOO_USERNAME}
    - name: yahoo-password
      value: ${YAHOO_PASSWORD}
    - name: azure-storage-connection-string
      value: ${AZURE_STORAGE_CONNECTION_STRING}
  environmentId: ${CONTAINER_APPS_ENVIRONMENT_ID}
  template:
    serviceAccountName: ${SERVICE_ACCOUNT_NAME}
    containers:
    - env:
      - name: AZURE_FOLDER_MARKET
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_FOLDER_FINANCE
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_FOLDER_TARGETS
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_CONTAINER_SILVER
        value: ${AZURE_CONTAINER_SILVER}
      - name: LOG_FORMAT
        value: JSON
      - name: LOG_LEVEL
        value: INFO
      - name: DISABLE_DOTENV
        value: "true"
      - name: AZURE_CONTAINER_GOLD
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_STORAGE_ACCOUNT_NAME
        value: assetallocstorage001
      - name: AZURE_CONTAINER_NAME
        value: ${AZURE_FOLDER_EARNINGS}
      - name: AZURE_CONTAINER_COMMON
        value: ${AZURE_CONTAINER_COMMON}
      - name: AZURE_CONTAINER_BRONZE
        value: ${AZURE_CONTAINER_BRONZE}
      - name: AZURE_STORAGE_CONNECTION_STRING
        secretRef: azure-storage-connection-string
      - name: AZURE_FOLDER_EARNINGS
        value: ${AZURE_FOLDER_EARNINGS}
      - name: YAHOO_USERNAME
        secretRef: yahoo-username
      - name: YAHOO_PASSWORD
        secretRef: yahoo-password
      - name: HEADLESS_MODE
        value: 'True'
      - name: DOWNLOADS_PATH
        value: "/tmp/downloads"
      - name: PLAYWRIGHT_USER_DATA_DIR
        value: "/tmp/playwright_userdata"
      image: ${JOB_IMAGE}
      imageType: ContainerImage
      name: bronze-earnings-job
      command: ["python", "-m", "tasks.earnings_data.bronze_earnings_data"]
      resources:
        cpu: 1.0
        memory: 2Gi
  workloadProfileName: Consumption
