location: East US
name: gold-earnings-job
type: Microsoft.App/jobs
identity:
  type: UserAssigned
  userAssignedIdentities:
    "${ACR_PULL_IDENTITY_RESOURCE_ID}": {}
properties:
  configuration:
    triggerType: Manual
    manualTriggerConfig:
      parallelism: 1
      replicaCompletionCount: 1
    replicaRetryLimit: 2
    replicaTimeout: 14400
    registries:
    - server: assetallocationacr.azurecr.io
      identity: "${ACR_PULL_IDENTITY_RESOURCE_ID}"
    secrets:
    - name: azure-storage-connection-string
      value: ${AZURE_STORAGE_CONNECTION_STRING}
    - name: nasdaq-api-key
      value: ${NASDAQ_API_KEY}
    - name: pg-dsn
      value: ${POSTGRES_DSN}
  environmentId: ${CONTAINER_APPS_ENVIRONMENT_ID}
  template:
    serviceAccountName: ${SERVICE_ACCOUNT_NAME}
    containers:
    - env:
      - name: AZURE_FOLDER_MARKET
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_FOLDER_FINANCE
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_FOLDER_EARNINGS
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_FOLDER_TARGETS
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_CONTAINER_BRONZE
        value: ${AZURE_CONTAINER_BRONZE}
      - name: LOG_FORMAT
        value: JSON
      - name: LOG_LEVEL
        value: INFO
      - name: DISABLE_DOTENV
        value: "true"
      - name: BACKFILL_START_DATE
        value: "${BACKFILL_START_DATE}"
      - name: BACKFILL_END_DATE
        value: "${BACKFILL_END_DATE}"
      - name: SYSTEM_HEALTH_ARM_SUBSCRIPTION_ID
        value: ${AZURE_SUBSCRIPTION_ID}
      - name: SYSTEM_HEALTH_ARM_RESOURCE_GROUP
        value: ${RESOURCE_GROUP}
      - name: ASSET_ALLOCATION_API_BASE_URL
        value: ${ASSET_ALLOCATION_API_BASE_URL}
      - name: ASSET_ALLOCATION_API_FALLBACK_BASE_URL
        value: ${ASSET_ALLOCATION_API_FALLBACK_BASE_URL}
      - name: JOB_STARTUP_API_REQUIRED
        value: "true"
      - name: JOB_STARTUP_API_WAKE_ENABLED
        value: "true"
      - name: JOB_STARTUP_API_CONTAINER_APPS
        value: ${JOB_STARTUP_API_CONTAINER_APPS}
      - name: AZURE_CLIENT_ID
        value: ${ACR_PULL_IDENTITY_CLIENT_ID}
      - name: AZURE_STORAGE_ACCOUNT_NAME
        value: assetallocstorage001
      - name: AZURE_STORAGE_CONNECTION_STRING
        secretRef: azure-storage-connection-string
      - name: AZURE_CONTAINER_SILVER
        value: ${AZURE_CONTAINER_SILVER}
      - name: AZURE_CONTAINER_GOLD
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_CONTAINER_COMMON
        value: ${AZURE_CONTAINER_COMMON}
      - name: NASDAQ_API_KEY
        secretRef: nasdaq-api-key
      - name: POSTGRES_DSN
        secretRef: pg-dsn
      image: ${JOB_IMAGE}
      imageType: ContainerImage
      name: gold-earnings-job
      command: ["python", "-m", "tasks.earnings_data.gold_earnings_data"]
      resources:
        cpu: 2.0
        memory: 4Gi
  workloadProfileName: Consumption
