location: East US
name: bronze-market-job
type: Microsoft.App/jobs
identity:
  type: UserAssigned
  userAssignedIdentities:
    "${ACR_PULL_IDENTITY_RESOURCE_ID}": {}
properties:
  configuration:
    triggerType: Schedule
    scheduleTriggerConfig:
      cronExpression: "0 14-22 * * *"
      parallelism: 1
      replicaCompletionCount: 1
    replicaRetryLimit: 2
    replicaTimeout: 14400
    registries:
    - server: assetallocationacr.azurecr.io
      identity: "${ACR_PULL_IDENTITY_RESOURCE_ID}"
    secrets:
    - name: nasdaq-api-key
      value: ${NASDAQ_API_KEY}
    - name: api-key
      value: ${API_KEY}
    - name: azure-storage-connection-string
      value: ${AZURE_STORAGE_CONNECTION_STRING}
    - name: pg-dsn
      value: ${POSTGRES_DSN}
  environmentId: ${CONTAINER_APPS_ENVIRONMENT_ID}
  template:
    serviceAccountName: ${SERVICE_ACCOUNT_NAME}
    containers:
    - env:
      - name: AZURE_FOLDER_FINANCE
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_FOLDER_EARNINGS
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_FOLDER_TARGETS
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_CONTAINER_SILVER
        value: ${AZURE_CONTAINER_SILVER}
      - name: LOG_FORMAT
        value: JSON
      - name: LOG_LEVEL
        value: INFO
      - name: DISABLE_DOTENV
        value: "true"
      - name: DEBUG_SYMBOLS
        value: "${DEBUG_SYMBOLS}"
      - name: SYSTEM_HEALTH_ARM_SUBSCRIPTION_ID
        value: ${AZURE_SUBSCRIPTION_ID}
      - name: SYSTEM_HEALTH_ARM_RESOURCE_GROUP
        value: ${RESOURCE_GROUP}
      - name: AZURE_CLIENT_ID
        value: ${ACR_PULL_IDENTITY_CLIENT_ID}
      - name: TRIGGER_NEXT_JOB_NAME
        value: ${SILVER_MARKET_JOB}
      - name: TRIGGER_NEXT_JOB_REQUIRED
        value: "true"
      - name: AZURE_CONTAINER_GOLD
        value: ${AZURE_CONTAINER_GOLD}
      - name: AZURE_STORAGE_ACCOUNT_NAME
        value: assetallocstorage001
      - name: AZURE_STORAGE_CONNECTION_STRING
        secretRef: azure-storage-connection-string
      - name: AZURE_FOLDER_MARKET
        value: ${AZURE_FOLDER_MARKET}
      - name: AZURE_CONTAINER_COMMON
        value: ${AZURE_CONTAINER_COMMON}
      - name: AZURE_CONTAINER_BRONZE
        value: ${AZURE_CONTAINER_BRONZE}
      - name: ASSET_ALLOCATION_API_BASE_URL
        value: ${ASSET_ALLOCATION_API_BASE_URL}
      - name: ASSET_ALLOCATION_API_KEY
        secretRef: api-key
      - name: ASSET_ALLOCATION_API_KEY_HEADER
        value: "X-API-Key"
      - name: MASSIVE_TIMEOUT_SECONDS
        value: "60"
      - name: MASSIVE_MAX_WORKERS
        value: ${MASSIVE_MAX_WORKERS}
      - name: MASSIVE_FINANCE_FRESH_DAYS
        value: ${MASSIVE_FINANCE_FRESH_DAYS}
      - name: NASDAQ_API_KEY
        secretRef: nasdaq-api-key
      - name: POSTGRES_DSN
        secretRef: pg-dsn
      image: ${JOB_IMAGE}
      imageType: ContainerImage
      name: bronze-market-job
      command: ["python", "-m", "tasks.market_data.bronze_market_data"]
      resources:
        cpu: 1.0
        memory: 2Gi
  workloadProfileName: Consumption
