location: East US
name: ranking-job
type: Microsoft.App/jobs
identity:
  type: SystemAssigned
properties:
  configuration:
    triggerType: Schedule
    scheduleTriggerConfig:
      cronExpression: "0 5 * * *"
      parallelism: 1
      replicaCompletionCount: 1
    registries:
    - identity: ''
      passwordSecretRef: assetallocationacrazurecrio-assetallocationacr
      server: assetallocationacr.azurecr.io
      username: assetallocationacr
    replicaRetryLimit: 0
    replicaTimeout: 1800
    secrets:
    - name: assetallocationacrazurecrio-assetallocationacr
    - name: yahoo-username
    - name: yahoo-password
    - name: azure-storage-connection-string
  environmentId: /subscriptions/eabd0bb1-8f36-4f27-ad86-8b33e02aaeb9/resourceGroups/AssetAllocationRG/providers/Microsoft.App/managedEnvironments/asset-allocation-env
  template:
    containers:
    - env:
      - name: AZURE_STORAGE_ACCOUNT_NAME
        value: assetallocstorage001
      - name: AZURE_STORAGE_CONNECTION_STRING
        secretRef: azure-storage-connection-string
      - name: AZURE_CONTAINER_MARKET
        value: market-data
      - name: AZURE_CONTAINER_COMMON
        value: common-data
      - name: AZURE_CONTAINER_RANKING
        value: ranking
      - name: AZURE_CONTAINER_FINANCE
        value: finance-data
      - name: AZURE_CONTAINER_TARGETS
        value: price-targets
      - name: YAHOO_USERNAME
        secretRef: yahoo-username
      - name: YAHOO_PASSWORD
        secretRef: yahoo-password
      - name: HEADLESS_MODE
        value: 'True'
      - name: DOWNLOADS_PATH
        value: /tmp/downloads
      - name: PLAYWRIGHT_USER_DATA_DIR
        value: /tmp/playwright_userdata
      - name: RANKING_FINANCE_DELTA_PATH
        value: gold/finance_features
      - name: RANKING_PRICE_DELTA_PATH
        value: gold/price_targets
      - name: RANKING_BROKEN_DRAWDOWN_THRESHOLD
        value: "-0.30"
      - name: RANKING_MARGIN_DELTA_THRESHOLD
        value: "0.0"
      image: assetallocationacr.azurecr.io/asset-allocation-scraper:latest
      imageType: ContainerImage
      name: ranking-job
      command: ["python", "-m", "scripts.ranking.runner"]
      resources:
        cpu: 2.0
        memory: 4Gi
  workloadProfileName: Consumption
