location: East US
name: asset-allocation-ui
type: Microsoft.App/containerApps
identity:
  type: UserAssigned
  userAssignedIdentities:
    "${ACR_PULL_IDENTITY_RESOURCE_ID}": {}
properties:
  managedEnvironmentId: ${CONTAINER_APPS_ENVIRONMENT_ID}
  configuration:
    activeRevisionsMode: Single
    ingress:
      external: true
      targetPort: 80
      transport: auto
      allowInsecure: false
    registries:
    - server: assetallocationacr.azurecr.io
      identity: "${ACR_PULL_IDENTITY_RESOURCE_ID}"
  template:
    serviceAccountName: ${SERVICE_ACCOUNT_NAME}
    containers:
    - image: assetallocationacr.azurecr.io/asset-allocation-ui:${IMAGE_TAG}
      imageType: ContainerImage
      name: asset-allocation-ui
      resources:
        cpu: 0.5
        memory: 1Gi
      probes: []
    scale:
      minReplicas: 0
      maxReplicas: 10
